{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <h2>Quote</h2>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Ex: AAPL" type="text">
        </div>
        <p>{{ error }}</p>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
    <hr>
    <table style="margin-left: auto; margin-right: auto;">
        <thead>
            <tr class="wieghted">
                <td>Symbol</td>
                <td>Name</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="ticker">{{ symbol }}</td>
                <td id="name">{{ name }}</td>
                <td id="price">{{ price }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}